#define SECRET_SSID "my_ssid"
#define SECRET_PASS "my_password"
#define SECRET_MQTT_BROKER_ADDRESS "broker_address"
#define SECRET_MQTT_CLIENT_ID "client_id"
#define SECRET_MQTT_CLIENT_USER "client_user"
#define SECRET_MQTT_CLIENT_PASSWORD "client_password"